.container{
    width: 80%;
    margin: 0 auto;
    
}
.todo-list{
    max-width: 250px;
}
.task-item{
    display: flex;
    align-items: center;
    gap: 10px; /*отступ когда задаем дисплэй флекс , расстояние между елементами*/
}
.task-item button{
    margin-left: auto;
}